<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <title>Scratch Coins</title>
</head> 
<body>
      <div class="top-0 w-100 h-100 center-heigh">
        <div class="font font-very-big"><span class="orange">4</span><span class="white">0</span><span class="purple">4</span></div>
        <div class="font font-32px white">That's an error !</div>
        <div class="font font-16px white">The page you are trying to reach don't exist</div>
        <div class="font font-16px white">If you think that's a bug, please report this to @herasium on discord</div>
    </div>
    <a href="/" class="font font-16px top-0 left-0 white margin-13px z-top-top" ><span class="orange">Scratch</span> Coins</a> 
    <div class="center-end top-0 w-75 right-0 z-top-top">
        <a href="/register" class="font white font-16px margin-13px">Join</a>
        <a href="/login" class="font white font-16px margin-13px">Dashboard</a>
        <a href="/projects"class="font white font-16px margin-13px">Projects</a>
        <a href="/discord" class="font white font-16px margin-13px">Discord</a>
    </div>

<script src="/static/logo.js"></script>
</body>
</html>