<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <title>Scratch Coins</title>
</head> 
<body>
    <a href="/" class="font font-16px top-0 left-0 white margin-13px" ><span class="orange">Scratch</span> Coins</a> 
    <div class="w-100 center top-0 h-t-cont">
        <div class="font font-42px white margin-13px z-top">A new way to <span class="orange" id="new_way_to">play</span></div>
    </div>
    <div class="w-100 center top-0 h-cont">
        <img class="blob" src="/static/images/blob.svg"></img>
    </div>
    <div class="center-end top-0 w-75 right-0">
        <a href="/register" class="font white font-16px margin-13px">Join</a>
        <a href="/login" class="font white font-16px margin-13px">Dashboard</a>
        <a href="/projects"class="font white font-16px margin-13px">Projects</a>
        <a href="/discord" class="font white font-16px margin-13px">Discord</a>
    </div>
    <div class="center h-cont"> 
        <div class="font font-16px white z-top margin-13px" >10+ Projects</div>
        <div class="font font-16px white z-top margin-13px" >120+ Accounts</div>
    </div>
    <div class="center h-first w-50 right-0 h-containt heigh-1 z-top">
        <div class="font font-32px white right-10 bottom-0 t-right w-75 margin-13px">Play, earn, repeat.</div>
        <div class="font font-16px white right-10 top-0 t-center w-75 margin-13px">Play one of our wide range of parteners games and receive some scratch coins !</div>
    </div>
    <img src="/static/images/won.png" class=" z-top exemple exemple-1"></img>
    <div class="w-100 center-heigh top-0 heigh-wave">
        <img class="wave minus-margin" src="/static/images/wave-up.svg"></img>
        <img class="wave minus-margin" src="/static/images/wave-down.svg"></img>
    </div>
    <img src="/static/images/shop.png" class=" z-top exemple exemple-2"></img>
    <div class="center h-first w-50 left-0 h-containt heigh-2 z-top">
        <div class="font font-32px white right-10 bottom-0 t-left w-75 margin-13px">Build a shop, earn sompe coins !</div>
        <div class="font font-16px white right-10 top-0 t-center w-75 margin-13px">With Scratch Coins, you can easely create a store on your game to earn some Coins !</div>
    </div>
    <div class="center w-100 heigh-3">
        <div class="font font-24px white w-75 t-center margin-80px">
            « The first <span class="orange">scratch</span> <span class="yellow">currency</span> that really connect to <span class="purple">your projects</span>. »
        </div>
    </div>
    <div class="font font-16px heigh-5 left-10 white z-top" ><span class="orange">Scratch</span> Coins</div> 
    <footer class=" w-75 heigh-6 left-10">
        <div class="font font-16px left-10 white z-top" >A project by <span class="purple">Herasium</span>, inspired by <a class="yellow" href="https://blockcoin.repl.co/">BlockCoin</a></div>
    </footer>
    <div class="heigh-5 center-heigh right-10">
        <a href="/projects" class="font white font-16px margin-13px">Projects</a>
        <a href="/dashboard" class="font white font-16px margin-13px">Dashboard</a>
        <a href="/add" class="font white font-16px margin-13px">Add A Project</a>
    </div>
    <div class="heigh-5 center-heigh right-30">
        <a href="/documentation" class="font white font-16px margin-13px">Documentation</a>
        <a href="https://stats.uptimerobot.com/zyjY1F8GYn"class="font white font-16px margin-13px">Status</a>
        <a href="/discord" class="font white font-16px margin-13px">Discord</a>
    </div>
</div>

<script src="/static/index.js"></script>
<script src="/static/logo.js"></script>
</body>
</html>