<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <title>Scratch Coins</title>
</head> 
<body>
    <div class="w-100 center"> 
        <a href="/"class="font font-32px top-0 white margin-13px z-top-top" ><span class="orange">Scratch</span> Coins</a> 
    <div class="w-100 center-heigh top-0 orange h-100">
        <img class="wave minus-margin" src="/static/images/wave-up.svg"></img>
        <img class="wave minus-margin" src="/static/images/wave-down.svg"></img>
    </div>
    <div class="top-0 z-top center top-0 w-100 h-100 margin-13px" id="transition">
        <div class="login-bg register-size-2">
            <div class="center-heigh margin-40px">
                <div class="white font font-32px"> Register </div>
            </div>
            <div class="h-100 w-100 center-heigh top-0">
                <div class="h-50 center-appart-heigh w-100 token">
                    <div>
                        <div class="white font font-16px">Your token is:</div>
                    </div>
                    <div class="center">
                        <div class="white font w-50 t-center font-10px" id="token">Insert Token Here</div>
                    </div>
                    <div class="">
                        <div class="white font font-16px t-center">Paste it <a href="https://scratch.mit.edu/projects/874087447/" target="_blank" class="orange">HERE</a> and press continue.</div>
                    </div>
                    <button id="Enter" class="login-button bottom-0 margin-80px">
                        Continue
                    </button>
                    <div class="w-1002 center margin-13px bottom-0">
                        <div class="w-1002 center">
                            <div class="font white t-left font-10px">Already have an account ?</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/cookies.js"></script>
    <script src="/static/logo.js"></script>
    <script src="/static/register-2.js"></script>
</body>
</html> 