<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <title>Scratch Coins</title>
</head> 
<body>
    <div class="w-100 center"> 
        <a href="/"class="font font-32px top-0 white margin-13px z-top-top" ><span class="orange">Scratch</span> Coins</a> 
    <div class="w-100 center-heigh top-0 orange h-100 no-overflow">
        <img class="wave minus-margin" src="/static/images/wave-up.svg"></img>
        <img class="wave minus-margin" src="/static/images/wave-down.svg"></img>
    </div>
    <div class="top-0 z-top center top-0 w-100 h-100" id="transition">
        <div class="login-bg register-size">
            <div class="center-heigh margin-40px">
                <div class="white font font-32px"> Register </div>
            </div>
            <div class="h-100 w-100 center-heigh top-0">
                <div class="h-50 center-appart-heigh">
                    <div>
                        <div class="white font">Username</div>
                        <input type="text" id="username" class="login-text"></input>
                    </div>
                    <div>
                        <div class="white font">Password</div>
                        <input type="password" id="password" class="login-text"></input>
                    </div>
                    <div>
                        <div class="white font">Password Confirmation</div>
                        <input type="password" id="password-confirm" class="login-text"></input>
                    </div>
                    <button id="Enter" class="login-button bottom-0 margin-80px">
                        Sign In
                    </button>
                    <div class="w-1002 center margin-13px bottom-0 ">
                        <div class="font white t-center font-10px">Already have an account ?</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/cookies.js"></script>
    <script src="/static/logo.js"></script>
    <script src="/static/register.js"></script>
</body>
</html> 